{% extends "gerekli.html" %}

{% block orta %}
<!--burası index.html de block ortadan hemen sonraki yer -->
    <div id='wrap'>
        <div id="sonuclarimuslu"
             style="color:#ffffff;font-size:2.4vw;position:fixed;width:95%;top:20%;left:50%;-webkit-transform:translate(-50%, -50%);transform: translate(-50%, -50%);">
        </div>
        <div id='content'>
            <section class='input'>
                <div>
                    <input type='text' placeholder='Form No' id="arama" maxlength="8">
                </div>
            </section>
        </div>
    </div>
<!--burası da index.html de block kapanmadan önceki yer -->

{% endblock orta %}

{% block jsozel %}
    <!-- Bu js sadece ana sayfa çağrılınca yüklenecek -->
    <script src='/media/fancyInput.js'></script>
{% endblock %}