html {
    height: 100%;
    width: 100%
}

body {
    font-family: "Ubuntu Mono", sans-serif;
    height: 100%;
    text-align: center;
    width: 100%
}

#wrap {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    position: relative;
    background: -webkit-radial-gradient(#205983, #0a2742);
    background: radial-gradient(#205983, #0a2742);
    overflow: hidden
}

* {
    margin: 0;
    padding: 0
}

#content {
    position: absolute;
    width: 200%;
    height: 100%;
    -webkit-transition: .6s cubic-bezier(.02, .6, .2, 1);
    transition: .6s cubic-bezier(.02, .6, .2, 1)
}

#content section {
    width: 50%;
    height: 100%;
    float: left
}

#content section::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.fancyInput {
    max-width: 100%;
    min-width: 90%;
    font-size: 9vw;
    color: #fff;
    vertical-align: middle;
    line-height: 1.3;
    overflow: hidden;
    text-align: left;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .15), 0 2px 4px rgba(0, 0, 0, .2) inset, 0 0 12px rgba(255, 255, 255, .1);
    padding: 20px 20px;
    background: rgba(0, 0, 0, .1);
    border-radius: 10px
}

.fancyInput {
    display: inline-block;
    letter-spacing: -1px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .6);
    white-space: nowrap;
    width: auto;
    font-family: "Ubuntu Mono", sans-serif;
    position: relative
}

.fancyInput ::-webkit-input-placeholder {
    color: transparent
}

.fancyInput :-moz-placeholder {
    color: transparent
}

.fancyInput ::-moz-placeholder {
    color: transparent
}

.fancyInput :-ms-input-placeholder {
    color: transparent
}

.fancyInput.textarea {
    white-space: normal;
    overflow: auto
}

.fancyInput input {
    color: transparent;
    position: absolute;
    z-index: 2;
    width: 100%;
    border: 0;
    outline: 0;
    top: 0;
    left: 0;
    background: none;
    padding: inherit;
    padding-bottom: 0;
    font-family: "Ubuntu Mono", sans-serif;
    font-size: inherit;
    letter-spacing: -1px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.fancyInput input {
    top: 1px;
    left: -1px;
    padding-right: 0
}

.fancyInput > div {
    display: inline-block;
    position: relative
}

.fancyInput > div:before {
    opacity: 0;
    left: -20px;
    content: attr(data-placeholder);
    position: absolute;
    transition: .3s ease-out
}

.fancyInput > div.empty:before {
    opacity: .2;
    left: 0
}

.fancyInput input:focus ~ div.empty:before {
    opacity: .1
}

.fancyInput.textarea > div {
    width: 99.9%
}

.fancyInput *:focus ~ .caret,
.fancyInput *:focus ~ div .caret {
    opacity: .8;
    box-shadow: 0 0 8px #fff;
    -webkit-animation: .4s 40ms caret infinite;
    animation: .4s 40ms caret infinite
}

.fancyInput .caret {
    font-weight: normal;
    opacity: 0;
    display: inline-block;
    width: 3px;
    margin-left: -3px;
    background: #fff;
    border-radius: 4px;
    -moz-user-select: none
}

.fancyInput span:not(.deleted) ~ .caret {
    position: absolute;
    margin: 0
}

.fancyInput > div span {
    -webkit-transition: 100ms cubic-bezier(0, .6, .55, 1.4);
    transition: 100ms cubic-bezier(0, .6, .55, 1.4);
    display: inline-block;
    position: relative
}

.fancyInput > input[type="password"] + div span:empty::after {
    content: 'â—';
    display: inline
}

.fancyInput > div .deleted {
    opacity: 0;
    -webkit-transition: 140ms;
    transition: 140ms;
    -webkit-transform: translateX(12px);
    transform: translateX(12px)
}

.fancyInput > div span.state1 {
    -webkit-transform: translateY(-25px) rotateX(90deg);
    transform: translateY(-25px) rotateX(90deg)
}

.fancyInput > div span.state2 {
    -webkit-transform: translateY(25px) rotateX(90deg);
    transform: translateY(25px) rotateX(90deg)
}

@charset "IBM437";
@keyframes caret {
    50% {
        opacity: 0.1;
        transform: scaleY(0.8);
    }
}

@-webkit-keyframes caret {
    50% {
        opacity: 0.1;
        -webkit-transform: scaleY(0.8);
    }
}