{% extends "gerekli.html" %}

{% block orta %}


    <style>

        .sari {
            background-color: yellow;
            font-size: 64pt;
        }

        .kirmizi {
            background-color: red;
            font-size: 64px;
        }

        .gri {
            background-color: gray;
            font-size: 64px;
        }

    </style>


    <p>Etiketler</p>
    <table>
        <tr>
            {% for o in "123456" %}
                <td class="{% cycle 'sari' 'kirmizi' %}">
                    {{ o }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            {% for o in "123456789" %}
                <td class="{% cycle 'gri' 'kirmizi' 'sari' %}">
                    {{ o }}
                </td>
            {% endfor %}
        </tr>
    </table>


{% endblock orta %}